---
import Layout from "../layouts/Layout.astro";
import Dropdown from "../components/Dropdown.astro";
import { fetchFromAPI } from "../library/helpers";

const { data: artists } = await fetchFromAPI("/artists", {
  fields: ["slug", "bio", "name"],
  populate: ["coverImg", "profilePhoto"],
});
---

<Layout title="Artists">
  <main>
    <section
      class="relative m-0 md:mt-4 lg:mt-16 has-bg has-bg--large has-bg--inline min-h-screen"
    >
      <div
        class="container md:pt-8"
        x-data={`filterables({ 
        id: "allArtists",
        listenTo: ["sortBy"],
        data: ${JSON.stringify(artists)},
      })`}
      >
        <div
          x-data="dropdownWrapper"
          x-bind="dropdownWrapper"
          class="pt-4 md:pt-0 px-8 md:px-8 dropdown-wrapper flex-row z-40"
        >
          <Dropdown
            className="block"
            label="Sort By"
            id="sortBy"
            listenTo="allArtists"
            selects={[
              { label: "A-Z", sorting: [["name"], ["asc"]] },
              { label: "Z-A", sorting: [["name"], ["desc"]] },
            ]}
          />
          <h3 class="pt-2">Artists</h3>
        </div>
        <div
          class="grid grid-cols-1 px-8 lg:px-0 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-5 mt-4"
          x-ref="container"
          x-bind="container"
        >
          <template x-for="artist in filtered" :key="artist.slug">
            <a
              class="col-span-1 group hover:scale-105 transition-transform"
              :href="`/artists/${artist.slug}`"
            >
              <div class="card hover:md:border-12">
                <div class="card__img-wrapper">
                  <div
                    class="group-hover:scale-110 card__img"
                    x-bind:style="`background-image: url(${artist.coverImg.formats.small.url})`"
                  >
                  </div>
                </div>
                <div class="card__meta text-center relative transition-all">
                  <div
                    x-bind:style="`background-image: url(${artist.profilePhoto.formats.thumbnail.url})`"
                    class="absolute group-hover:grayscale aspect-square w-16 rounded-xl left-1/2 -translate-x-1/2 top-0 -translate-y-2/3 bg-cover bg-center"
                  >
                  </div>
                  <h2 x-text="artist.name" class="pt-8"></h2>
                  <h6
                    class="mx-auto max-w-4/5 group-hover:text-black/50"
                    x-html="artist.bio"
                  >
                  </h6>
                </div>
              </div>
            </a>
          </template>
        </div>
      </div>
    </section>
  </main>
</Layout>
