---
export interface Props {
  img: string;
  title: string;
  aspectRatio?: string;
  className?: string;
}

const { img, aspectRatio = "1 / 1", className = "" } = Astro.props;
---

<div
  class={`rounded-4xl border-6 border-white bg-cover bg-center shadow-card ${className}`}
  style={`aspect-ratio: ${aspectRatio}; background-image: url(${img})`}
>
</div>
