---
export interface Props {
  img: string;
  profilePhoto?: string;
}

const { img, profilePhoto = "" } = Astro.props;
---

<div
  class="group rounded-4xl overflow-hidden bg-white shadow-mild border-12 hover:border-10 transition-all hover:pb-1"
>
  <div class="overflow-hidden aspect-square w-full rounded-2xl">
    <div
      class="relative group-hover:scale-110 transition-transform w-full h-full bg-center bg-contain"
      style={`background-image: url(${img})`}
    >
    </div>
    <!-- <template x-if="profilePhoto">
      <img src={profilePhoto} alt="" class="w-1/4" />
    </template> -->
  </div>
  <slot />
</div>
