---
export interface Props {
  backgroundImage: string;
  link: string;
}

const { aspectRatio, backgroundImage, link = "", ...props } = Astro.props;

const Wrapper = link.length > 0 ? "a" : Fragment;
---

<Wrapper :href={`\`${link}\``}>
  <div
    {...props}
    x-data={`${backgroundImage}`}
    x-bind="backgroundImage"
    class="rounded-4xl border-6 border-white bg-cover bg-center shadow-card"
  >
  </div>
</Wrapper>
