---
---

<div
  class="mt-1 py-2 px-5"
  x-data="projectStatus(collection.status)"
  :class="className"
>
  <h5 class="leading-none" x-text="title"></h5>
</div>

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data("projectStatus", (status) => {
      const properties = {
        CurrentlyMinting: {
          title: "Currently Minting",
          className: "bg-red text-white",
        },
        MintingPaused: {
          title: "Minting Paused",
          className: "bg-grey-mid text-white",
        },
        FinishedMinting: {
          title: "Minting Completed",
          claclassNamess: "bg-peach text-black",
        },
      };
      return properties[status];
    });
  });
</script>
