---
export interface Props {
  aspectRatio: string;
  backgroundImage: string;
}

const { aspectRatio, backgroundImage } = Astro.props;
---

<div
  class="rounded-4xl border-6 border-white bg-cover bg-center shadow-card"
  x-bind:style={`\`background-image: url(${backgroundImage}); aspect-ratio: ${aspectRatio}\``}
>
</div>
