---
export interface Props {
  className?: string;
  label: string;
  id: string;
  selects: {
    label: string;
    event: string;
  }[];
}

const { id, className = "", label, selects } = Astro.props;
---

<div
  class="relative z-50 max-h-8 md:w-auto md:max-h-max"
  x-bind:class="open ? 'pt-0 md:mt-[-0.3rem]' : 'pt-2'"
  x-data={`dropdown('${JSON.stringify(selects)}')`}
>
  <span
    class="font-trade-gothic font-normal text-sm leading-4 tracking-xl uppercase"
  >
    {label}
  </span>
  <button
    class="button group"
    x-on:click="open = !open"
    x-show="currentlySelected.length > 0 && open === false"
  >
    <h5 class="ml-2 leading-none inline-block" x-text="currentlySelected"></h5>
    <svg
      class="inline-block group-hover:scale-y-80 group-hover:scale-x-125 transition-transform"
      width="17"
      height="9"
      viewBox="0 0 17 9"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1L8.5 7L16 1" class="stroke-current stroke-2"></path>
    </svg>
  </button>
  <div x-show="open" class="select">
    <template x-for="option in selects">
      <button
        class="option"
        x-on:click={`currentlySelected = option.label; open = false; $dispatch('${id}', {filterEvent: option.event})`}
        x-text="option.label"></button>
    </template>
  </div>
</div>

<style>
  .select {
    @apply ml-3 py-2 px-5 rounded-3xl bg-white shadow-btn inline-flex flex-col;
  }

  .option {
    @apply [&:nth-child(2)]:border-0;
    @apply font-roc-grotesk text-sm uppercase tracking-widest font-bold text-black/25;
    @apply py-2 w-full text-right border-t-grey-light;
    @apply hover:text-black;

    & + .option {
      @apply border-t-1;
    }
  }

  .button {
    @apply hover:opacity-75 transition-opacity;
    block-size: auto;
  }
</style>

<script>
  import Alpine from "alpinejs";
  document.addEventListener("alpine:init", () => {
    Alpine.data("dropdown", (selects: string) => ({
      open: false,
      selects: JSON.parse(selects),
      currentlySelected: "",
      init() {
        this.currentlySelected = this.selects[0].label;
      },
    }));
  });
</script>
