---
export interface Props {
  startDate: number;
  dynamicStart: boolean;
  mintPrice: number;
  className?: string;
}

const { startDate, dynamicStart, mintPrice, className = "" } = Astro.props;
---

<span
  class={`${className} pl-1`}
  x-data={`mintPriceWidget({
    startDate: ${startDate},
    dynamicStart: ${dynamicStart},
    mintPrice: ${mintPrice},
  })`}
  x-text="price"
>
</span>

<script>
  import { getPrice } from "../library/client";

  document.addEventListener("alpine:init", () => {
    Alpine.data("mintPriceWidget", (props) => ({
      price: 0,
      props,
      init() {
        this.price = getPrice(this.props) / 10 ** 18;
      },
    }));
  });
</script>
