---
export interface Props {
  // startDate: number;
  // dynamicStart: boolean;
  mintPrice: number | string;
  className?: string;
}
const { startDate, dynamicStart, mintPrice, className = "" } = Astro.props;
---

<span
  class={`${className} pl-1`}
  x-data={`mintPriceWidget({
    mintPrice: ${mintPrice},
  })`}
  x-text="price"
>
</span>

<script>
  import { getPrice } from "../library/client";
  import { formatEther } from "ethers/lib/utils";

  document.addEventListener("alpine:init", () => {
    Alpine.data("mintPriceWidget", (props) => ({
      price: 0,
      props,
      init() {
        this.price = formatEther(getPrice(this.props));
      },
    }));
  });
</script>
