---
import type { CollectionStatus } from "../data/collections";
import { projectStatus } from "../library/helpers";

export interface Props {
  status: CollectionStatus;
}

const { status } = Astro.props;
---

<div class={`mt-1 py-2 px-5 inline-block ${projectStatus[status].className}`}>
  <h5 class="leading-none">{projectStatus[status].title}</h5>
</div>
