---
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<Layout title={title}>
  <div class="container px-4">
    <div
      class="rounded-4xl bg-peach px-4 md:px-8 pt-4 pb-8 md:pb-12 mt-8 lg:max-w-[75%] lg:mx-auto user-content"
    >
      <h1 class="block text-red text-4xl lg:mr-auto text-left lg:max-w-[75%]">
        {title}
      </h1>
      <Fragment set:html={content} />
    </div>
    <link rel="stylesheet" href="/nord.min.css" />
    <script is:inline src="/highlight.min.js"></script>
    <script is:inline>
      hljs.highlightAll();
    </script>
  </div>
</Layout>
